.add_user_image {
  background-image: url("/images/main_out_put.jpg");
  height: calc(100vh - 50px);
  width: 100%;
}

.add_user_form {
  width: 30%;
  height: 50%;
  background-color: linen;
  margin: 0 auto;
  padding: 20px;
  
  text-align: center;
}

.field {
  text-align: center;
}

