.Edit{
  background-color: rgb(236, 234, 234);
  height: calc(100vh - 50px);
  width: 100vw;
}
.Edit_form{
  height: calc(100vh - 80px);
  width: 50vw;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
}

.Edit_field{
  margin-bottom: 20px;
}

.font-control{
  padding: 5px;
  width: 300px;
}

.edit-title {
  padding: 5px;
  height: 30px;
  width: 500px;
}

.edit-textbox {
  padding: 5px;
  height: 200px;
  width: 600px;
}


// edit comment
.Comment_main {
  background-color: rgb(236, 234, 234);
  height: calc(100vh - 80px);
}

.Comment_edit {
  width: 60vw;
  height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 30px 0 0 30px;
  background-color: white;
}

.comment_edit_font {
  padding: 15px;
  font-size: 30px;
}

.edit_comment_wrapper {
  display: flex;
  align-items: center;
}
.Comment_text{
  margin-top: 30px;
}

.comment_edit{
  padding:0 20px;
  height: 330px;
  width: 420px;
  word-wrap: break-word;
}


#comment_text {
  height: 300px;
  width: 420px;
}