.new_post_font {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}

.update_message {
  margin-bottom: 20px;
}

.Book_info__content{
  padding: 5px;
}

.Content_contents {
  padding: 5px;
}

.textbox {
  padding: 5px;
}


// post_list header
.post_list_font {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.main_link_css{
  text-decoration: none;
}