.New {
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: rgb(236, 234, 234);
}


.New_form{
  height: calc(100vh - 80px);
  width: 50vw;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
}

.New_field{
  margin-bottom: 20px;
}

.New_post{
  margin-bottom: 20px;
}

.New_post_message {
  padding: 10px;
  font-size: 30px;
}

.new-title{
  padding: 5px;
  height: 30px;
  width: 500px;
}

.new-textbox{
  padding: 5px;
  height: 200px;
  width: 600px;
}

.font-control {
  padding: 5px;
}
